<div class="item-create-section">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>

    {% if msgItem %}
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill"/>
            </svg>
            <p style="margin-top:20px;">{{msgItem}}</p>
        </div>
    {% endif %}

    {% if errMsgItem %}
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <p style="margin-top:20px;">{{errMsgItem}}</p>
        </div>
    {% endif %}

    <div class="add-item-form p-5">
        <h2 class="text-center">Add Item</h2>
        <form class="g-3" action="/addItem/" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Item ID</label>
                    <input type="text" required class="form-control" name="item_id" placeholder="Enter the Item's ID" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Item Name</label>
                    <input type="text" required class="form-control" name="item_name" placeholder="Enter the Item's Name" id="inputEmail4">
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Quantity</label>
                    <input type="text" required class="form-control quantity" name="quantity" placeholder="Enter the quantity" id="inputPassword4">
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">rate</label>
                    <input type="text" required class="form-control rate" name="rate" id="inputAddress" placeholder="Enter the Rate">
                </div>
            </div><br />
            <div class="row d-flex justify-content-center m-3">
                <div class="col-6">
                    <label for="inputAddress2" class="form-label">Total Cost</label>
                    <input type="text" readonly required class="form-control total-cost" name="total_cost" id="inputAddress2" placeholder="Total cost">
                </div>
            </div>
            <center>
                <div style="display: flex;flex-direction:row;justify-content:center;align-items:center;margin-top:50px;">
                    <div class="col">
                        <button type="button" class="btn btn-danger btn-lg go-back">Back</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-success view-items btn-lg">View</button>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary save-item-btn btn-lg">Save</button>
                    </div>
                </div>
            </center>
        </form>
    </div>
</div>
{% comment %} 
<button class="btn btn-primary" type="button" disabled>
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  <span class="visually-hidden">Loading...</span>
</button> {% endcomment %}